@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Archangelsk;
    src: url('../../assets/fonts/Archangelsk.ttf');
}