.buy-game{
  background-color: var(--black);
  
}

.buy-game__container{
  max-width: 100%;
}

.buy-game__content{
  display: flex;
  gap: 0;
}

.buy-game__image{
  max-width: 944px;
  height: auto;
}

.buy-game__text{
  display: flex;
  flex-direction: column;
  padding: 70px 32px;
  justify-content: space-between;
  max-width: 624px;
}

.buy-game__text>h2{
  font-family: Archangelsk, sans-serif;
  color: var(--white);
  font-size: 62px;
  font-weight: 400;
  line-height: 100%;
}

.buy-game__text-set{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buy-game__text--blue{
  color: var(--moderateTurquoise);
  font-size: 28px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 100%;
}

.buy-game__list-text{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 100%;
  list-style-type: none;
}

.buy-game__list-text-element>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.buy-game__text-platform{
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 319px;
}

.buy-game__list-img{
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 70px;
}