.footer{
  width: 100%;
}

.footer__container{
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.footer__license{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__license-list-imgs{
  display: flex;
  gap: 32px;
  align-items: center;
}

.footer__license-list-links{
  display: flex;
  gap: 32px;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.footer__license-list-links>li>a{
  color: var(--black);
}

.footer__company-name{
  width: 100%;
  height: 40px;
  background-color: var(--black);
  padding: 13px;
  vertical-align: middle;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}