.full-immersion{
  background-image: url("../../assets/images/full-immersion/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.full-immersion__container{
  height: 100%;
  padding-top: 140px;
  padding-bottom: 70px;
  display: flex;
}

.full-immersion__cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.full-immersion__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  max-width: 624px;
}

.full-immersion__image img{
  max-width: 624px;
  height: auto;
}

.full-immersion__imgs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 624px;
}

.full-immersion__imgs img{
  max-width: 100%;
  height: auto;
}

.full-immersion__imgs-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.full-immersion__content h2{
  font-size: 62px;
  font-weight: 400;
  line-height: 100%;
  color: var(--black);
  font-family: Archangelsk, sans-serif;
}

.full-immersion__content p{
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  font-family: Roboto, sans-serif;
  color: var(--black);
}

.full-immersion__text-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.full-immersion__text-list li{
  list-style-type: none;
  color: var(--black);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.full-immersion__text-list-element>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.full-immersion__text-button{
  max-width: 194px;
  height: 59px;
  background-color: var(--black);
  color: var(--marsupilami);
}

