.get-started{
  height: 100vh;
  background-image: url("../../assets/images/get-started/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.get-started__container{
  position: relative;
  height: 100%;
}

.get-started__content{
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../../assets/images/get-started/frame.png");
  background-repeat: no-repeat;

  width: 624px;
  height: 369px;

  padding: 70px;
}

.get-started__title{
  margin-bottom: 25px;
  font-size: 58px;
  font-weight: 400;
  color: var(--black);
}

.get-started__button{
  background-color: var(--black);
  padding: 19px 50px;
  color: var(--marsupilami);
  font-size: 24px;
  font-weight: 600;
}