.night-city{
    height: 100vh;
}

.night-city__container{
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 70px;
}

.night-city__content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.night-city__title{
    color: var(--black);
    font-family: Archangelsk, sans-serif;
    font-size: 62px;
    line-height: 100%;
    font-weight: 400;
}

.night-city__text{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    max-width: 952px;
}

.night-city__text span{
    font-weight: 700;
    color: var(--moderateTurquoise);
}

.night-city__galery{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
}

.night-city__galery--img1{
    grid-column: 1;
    grid-row: 1;
}

.night-city__galery--img2{
    grid-column: 1;
    grid-row: 2;
}

.night-city__galery--img3{
    grid-column: 2;
    grid-row: 1 / span 2;
}