.promotion{
  background-image: url("../../assets/images/promotion/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, sans-serif;
}

.promotion__container{
  padding-top: 85px;
  padding-bottom: 70px;
}

.promotion__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.promotion__title{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  margin-bottom: 25px;
  font-size: 60px;
  font-weight: 400;
  color: var(--white);
}

.promotion__img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
}

.promotion__img img{
  max-width: 100%;
  height: auto;
}

.promotion__text{
  line-height: 34px;
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  margin-bottom: 98px;
}

.promotion__text--blue{
  color: var(--moderateTurquoise);
  font-weight: 700;
}

.promotion__form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.promotion__input{
  color: var(--white);
  background-color: inherit;
  border-bottom: 1px solid white;
  padding-bottom: 13px;
}

.promotion__input::placeholder{
  color: var(--white);
}

.promotion__form{
  overflow-y: hidden;
}

.promotion__upload-btn{
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.promotion__upload-btn input[type ="file"]{
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.promotion__upload-btn button {
  padding: 39px 137px;
  background-color: inherit;
  color: var(--white);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  border: 2px dashed var(--darkGray);
  cursor: pointer;
}

.promotion__upload-btn p{
  color: var(--white);
}

.promotion__send-btn{
  background-color: var(--marsupilami);
  padding: 19px 50px;
  max-width: 192px;
  height: 59px;
  font-size: 18px;
  font-weight: 700;
}

.promotion__checkbox label{
  color: var(--white);
  font-size: 12px;
  font-weight: 300;
  
}